In [71]:
import pandas as pd

In [72]:
data = pd.read_csv("gameLogs.csv")

In [73]:
data.dropna()

,Unnamed: 0,CITY,NICKNAME,TEAM_ID,W,L,W_HOME,L_HOME,W_ROAD,L_ROAD,...,GAME_DATE,GAME_ID,HOME_FLAG,AWAY_FLAG,HOME_WIN_PCTG,AWAY_WIN_PCTG,TOTAL_WIN_PCTG,ROLLING_SCORING_MARGIN,ROLLING_OE,NUM_REST_DAYS
0,0,Atlanta,Hawks,1610612737,1,0,1,0,0,0,...,2021-05-16,22001066,1,0,0.694444,0.444444,0.569444,18.666667,0.594231,3.0
1,1,OPPONENTS,Rockets,1610612745,0,1,0,0,0,1,...,2021-05-16,22001066,0,1,0.250000,0.222222,0.236111,-8.000000,0.559973,2.0
2,2,Atlanta,Hawks,1610612737,1,0,1,0,0,0,...,2021-05-13,22001049,1,0,0.685714,0.444444,0.563380,9.333333,0.571405,1.0
3,3,OPPONENTS,Magic,1610612753,0,1,0,0,0,1,...,2021-05-13,22001049,0,1,0.305556,0.294118,0.300000,-22.333333,0.502823,2.0
4,4,Atlanta,Hawks,1610612737,1,0,1,0,0,0,...,2021-05-12,22001042,1,0,0.676471,0.444444,0.557143,-0.666667,0.589472,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7075,7075,OPPONENTS,Pistons,1610612765,0,1,0,0,0,1,...,2023-02-27,22200919,0,1,0.266667,0.218750,0.241935,-5.666667,0.529425,2.0
7076,7076,Detroit,Pistons,1610612765,1,0,1,0,0,0,...,2023-02-03,22200785,1,0,0.269231,0.259259,0.264151,-1.000000,0.545693,4.0
7077,7077,OPPONENTS,Hornets,1610612766,0,1,0,0,0,1,...,2023-02-03,22200785,0,1,0.304348,0.258065,0.277778,-10.333333,0.524888,1.0
7078,7078,Charlotte,Hornets,1610612766,0,1,0,1,0,0,...,2022-12-14,22200414,1,0,0.285714,0.214286,0.250000,-14.666667,0.530214,3.0
7079,7079,OPPONENTS,Pistons,1610612765,1,0,0,0,1,0,...,2022-12-14,22200414,0,1,0.307692,0.235294,0.266667,-3.666667,0.557132,3.0

In [74]:
data.describe()

,Unnamed: 0,TEAM_ID,W,L,W_HOME,L_HOME,W_ROAD,L_ROAD,TEAM_TURNOVERS,TEAM_REBOUNDS,...,SCORING_MARGIN,GAME_ID,HOME_FLAG,AWAY_FLAG,HOME_WIN_PCTG,AWAY_WIN_PCTG,TOTAL_WIN_PCTG,ROLLING_SCORING_MARGIN,ROLLING_OE,NUM_REST_DAYS
count,7080.000000,7.080000e+03,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,...,7080.000000,7.080000e+03,7080.000000,7080.000000,7013.000000,7010.000000,7080.000000,7080.000000,7080.000000,6990.000000
mean,3539.500000,1.610613e+09,0.500000,0.500000,0.278249,0.221751,0.221751,0.278249,0.662429,7.918785,...,0.000000,2.210483e+07,0.500000,0.500000,0.557734,0.444047,0.500630,0.004284,0.564587,2.094421
std,2043.964285,8.656053e+00,0.500035,0.500035,0.448168,0.415454,0.415454,0.448168,0.814580,2.959450,...,14.833968,8.070488e+04,0.500035,0.500035,0.197644,0.194585,0.164713,9.390859,0.034162,0.988971
min,0.000000,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-73.000000,2.200000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,-38.000000,0.396396,1.000000
25%,1769.750000,1.610613e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,...,-10.000000,2.200089e+07,0.000000,0.000000,0.437500,0.333333,0.411765,-6.333333,0.542231,2.000000
50%,3539.500000,1.610613e+09,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,...,0.000000,2.210069e+07,0.500000,0.500000,0.562500,0.437500,0.500000,0.000000,0.565259,2.000000
75%,5309.250000,1.610613e+09,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,10.000000,...,10.000000,2.220035e+07,1.000000,1.000000,0.675676,0.567568,0.604167,6.333333,0.588179,2.000000
max,7079.000000,1.610613e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,23.000000,...,73.000000,2.220123e+07,1.000000,1.000000,1.000000,1.000000,1.000000,42.000000,0.677515,13.000000

In [75]:
data.columns

Index(['Unnamed: 0', 'CITY', 'NICKNAME', 'TEAM_ID', 'W', 'L', 'W_HOME',
       'L_HOME', 'W_ROAD', 'L_ROAD', 'TEAM_TURNOVERS', 'TEAM_REBOUNDS', 'GP',
       'GS', 'ACTUAL_MINUTES', 'ACTUAL_SECONDS', 'FG', 'FGA', 'FG_PCT', 'FG3',
       'FG3A', 'FG3_PCT', 'FT', 'FTA', 'FT_PCT', 'OFF_REB', 'DEF_REB',
       'TOT_REB', 'AST', 'PF', 'STL', 'TOTAL_TURNOVERS', 'BLK', 'PTS',
       'AVG_REB', 'AVG_PTS', 'DQ', 'OFFENSIVE_EFFICIENCY', 'SCORING_MARGIN',
       'SEASON', 'GAME_DATE', 'GAME_ID', 'HOME_FLAG', 'AWAY_FLAG',
       'HOME_WIN_PCTG', 'AWAY_WIN_PCTG', 'TOTAL_WIN_PCTG',
       'ROLLING_SCORING_MARGIN', 'ROLLING_OE', 'NUM_REST_DAYS'],
      dtype='object')

In [76]:
data = data.drop(["Unnamed: 0","CITY","NICKNAME","GP","GS","ACTUAL_MINUTES","ACTUAL_SECONDS"],axis=1).sort_values("GAME_DATE")
data["LAST_3_GAME_AVG_OE"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['OFFENSIVE_EFFICIENCY'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['OFFENSIVE_EFFICIENCY'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['OFFENSIVE_EFFICIENCY'].shift(3)))/3
data["LAST_3_GAME_HOME_WIN_PCTG"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['HOME_WIN_PCTG'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['HOME_WIN_PCTG'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['HOME_WIN_PCTG'].shift(3)))/3
data["LAST_3_GAME_AWAY_WIN_PCTG"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['AWAY_WIN_PCTG'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['AWAY_WIN_PCTG'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['AWAY_WIN_PCTG'].shift(3)))/3
data["LAST_3_GAME_TOTAL_WIN_PCTG"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['TOTAL_WIN_PCTG'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['TOTAL_WIN_PCTG'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['TOTAL_WIN_PCTG'].shift(3)))/3
data["LAST_3_GAME_ROLLING_SCORING_MARGIN"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_SCORING_MARGIN'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_SCORING_MARGIN'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_SCORING_MARGIN'].shift(3)))/3
data["LAST_3_GAME_ROLLING_OE"] = ((data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_OE'].shift(1)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_OE'].shift(2)) + (data.sort_values('GAME_DATE').groupby(['TEAM_ID','SEASON'])['ROLLING_OE'].shift(3)))/3

In [77]:
data20 = data[data["SEASON"] == "2020-21"]
data21 = data[data["SEASON"] == "2021-22"]
data22 = data[data["SEASON"] == "2022-23"]

In [78]:
data21

,TEAM_ID,W,L,W_HOME,L_HOME,W_ROAD,L_ROAD,TEAM_TURNOVERS,TEAM_REBOUNDS,FG,...,TOTAL_WIN_PCTG,ROLLING_SCORING_MARGIN,ROLLING_OE,NUM_REST_DAYS,LAST_3_GAME_AVG_OE,LAST_3_GAME_HOME_WIN_PCTG,LAST_3_GAME_AWAY_WIN_PCTG,LAST_3_GAME_TOTAL_WIN_PCTG,LAST_3_GAME_ROLLING_SCORING_MARGIN,LAST_3_GAME_ROLLING_OE
3318,1610612747,0,1,0,1,0,0,1,13,45,...,0.000000,-7.000000,0.511628,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3860,1610612749,1,0,1,0,0,0,1,8,48,...,1.000000,23.000000,0.584000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3319,1610612744,1,0,0,0,1,0,0,9,41,...,1.000000,7.000000,0.541985,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3861,1610612751,0,1,0,0,0,1,1,12,37,...,0.000000,-23.000000,0.504505,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4186,1610612759,1,0,1,0,0,0,0,15,49,...,1.000000,26.000000,0.648000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441,1610612760,0,1,0,0,0,1,2,6,37,...,0.292683,-35.000000,0.521563,2.0,0.542271,0.292683,0.307827,0.300031,-5.111111,0.555095
2920,1610612742,1,0,1,0,0,0,0,8,46,...,0.634146,26.000000,0.637576,2.0,0.616771,0.694872,0.557317,0.624961,5.333333,0.583441
2630,1610612740,0,1,0,1,0,0,1,6,42,...,0.439024,-5.000000,0.585582,1.0,0.606987,0.470513,0.421545,0.445827,5.111111,0.598129
2631,1610612744,1,0,0,0,1,0,0,5,49,...,0.646341,14.333333,0.612927,1.0,0.590237,0.754065,0.516880,0.637462,11.000000,0.586196
3440,1610612746,1,0,1,0,0,0,0,7,54,...,0.512195,24.333333,0.594677,1.0,0.571859,0.589564,0.414634,0.499948,16.333333,0.605230